{% extends 'base.html.twig' %}

{% block body %}
    {{ include('components/navbar.html.twig') }}

    <div class="container">

        <br><br><br>
        <p>Política de privacidad </p>
        <p>Última actualización: Septiembre 2021.</p>

        <br><h5>1. INFORMACIÓN AL USUARIO</h5><br>
            <p>TRICONTINENTAL HOTEL LAB, S.L., como Responsable del Tratamiento, le informa que, según lo dispuesto en el Reglamento (UE) 2016/679, de 27 de abril, (RGPD) y en la L.O. 3/2018, de 5 de diciembre, de protección de datos y garantía de los derechos digitales (LOPDGDD), trataremos su datos tal y como reflejamos en la presente Política de Privacidad.</p>
            <br>
            <p>En esta Política de Privacidad describimos cómo recogemos sus datos personales y por qué los recogemos, qué hacemos con ellos, con quién los compartimos, cómo los protegemos y sus opciones en cuanto al tratamiento de sus datos personales.</p>
            <br>
            <p>Esta Política se aplica al tratamiento de sus datos personales recogidos por la empresa para la prestación de sus servicios. Si acepta las medidas de esta Política, acepta que tratemos sus datos personales como se define en esta Política.</p>

        <br><h5>2. CONTACTO</h5><br>
            <p>Denominación social: TRICONTINENTAL HOTEL LAB, S.L.</p>
            <p>Nombre comercial: TRAVEL TECH SCHOOL by Amadeus</p>
            <p>CIF: B76295492</p>
            <p>Domicilio: Calle Concepción Arenal, nº 20 oficina 5-A</p>
            <p>e-mail: info@thewisedreams.com</p>

        <br><h5>3. PRINCIPIOS CLAVE</h5><br>
            <p>Siempre hemos estado comprometidos con prestar nuestros servicios con el más alto grado de calidad, lo que incluye tratar sus datos con seguridad y transparencia. Nuestros principios son:</p>

            <p><b>· Legalidad: </b>Solo recopilaremos sus Datos personales para fines específicos, explícitos y legítimos.</p>
            <p><b>· Minimización de datos: </b>Limitamos la recogida de datos de carácter personal a lo que es estrictamente relevante y necesario para los fines para los que se han recopilado.</p>
            <p><b>· Limitación de la Finalidad: </b>Solo recogeremos sus datos personales para los fines declarados y solo según sus deseos.</p>
            <p><b>· Precisión: </b>Mantendremos sus datos personales exactos y actualizados.</p>
            <p><b>· Seguridad de los Datos: </b>Aplicamos las medidas técnicas y organizativas adecuadas y proporcionales a los riesgos para garantizar que sus datos no sufran daños, tales como divulgación o acceso no autorizado, la destrucción accidental o ilícita o su pérdida accidental o alteración y cualquier otra forma de tratamiento ilícito.</p>
            <p><b>· Acceso y Rectificación: </b>Disponemos de medios para que acceda o rectifique sus datos cuando lo considere oportuno.</p>
            <p><b>· Conservación: </b>Conservamos sus datos personales de manera legal y apropiada y solo mientras es necesario para los fines para los que se han recopilado.</p>
            <p><b>· Las transferencias internacionales: </b>Cuando se dé el caso de que sus datos vayan a ser transferidos fuera de la UE/EEE se protegerán adecuadamente.</p>
            <p><b>· Terceros: </b>El acceso y transferencia de datos personales a terceros se llevan a cabo de acuerdo con las leyes y reglamentos aplicables y con las garantías contractuales adecuadas.</p>
            <p><b>· Marketing Directo y cookies: </b>Cumplimos con la legislación aplicable en materia de publicidad y cookies.</p>

        <br><h5>4. RECOGIDA Y TRATAMIENTO DE SUS DATOS PERSONALES</h5><br>
            <p>Las tipos de datos que se pueden solicitar y tratar son:</p><br>
            <p>· Datos de carácter identificativo.</p><br>

            <p>También recogemos de forma automática datos sobre su visita a nuestro sitio web  según se describe en la política de cookies.</p><br>
            <p>Siempre que solicitemos sus Datos personales, le informaremos con claridad de qué datos personales recogemos y con qué fin. En general, recogemos y tratamos sus datos personales con el propósito de:</p><br>
            <p>· Proporcionar información, servicios, productos, información relevante y novedades en el sector.</p>
            <p>· Envío de comunicaciones.</p>

        <br><h5>5. LEGITIMIDAD</h5><br>
            <p>De acuerdo con la normativa de protección de datos aplicable, sus datos personales podrán tratarse siempre que:</p><br>

            <p>· Nos ha dado su consentimiento a los efectos del tratamiento. Por supuesto podrá retirar su consentimiento en cualquier momento.</p>
            <p>· Por requerimiento legal.</p>
            <p>· Por existir un interés legítimo que no se vea menoscabado por sus derechos de privacidad, como por ejemplo el envío de información comercial bien por suscripción a nuestra newsletter o por su condición de cliente.</p>
            <p>· Por ser necesaria para la prestación de alguno de nuestros servicios mediante relación contractual entre usted y nosotros.</p>

        <br><h5>6. COMUNICACIÓN DE DATOS PERSONALES</h5><br>
            <p>Los datos pueden ser comunicados a empresas relacionadas con TRICONTINENTAL HOTEL LAB, S.L. para la prestación de los diversos servicios en calidad de Encargados del Tratamiento. La empresa no realizará ninguna cesión, salvo por obligación legal.</p>

        <br><h5>7. SUS DERECHOS</h5><br>
            <p>En relación con la recogida y tratamiento de sus datos personales, puede ponerse en contacto con nosotros en cualquier momento para:</p><br>

            <p>· Acceder a sus datos personales y a cualquier otra información indicada en el Artículo 15.1 del RGPD.</p>
            <p>· Rectificar sus datos personales que sean inexactos o estén incompletos de acuerdo con el Artículo 16 del RGPD.</p>
            <p>· Suprimir sus datos personales de acuerdo con el Artículo 17 del RGPD.</p>
            <p>· Limitar el tratamiento de sus datos personales de acuerdo con el Artículo 18 del RGPD.</p>
            <p>· Solicitar la portabilidad de sus datos de acuerdo con el Artículo 20 del RGPD.</p>
            <p>· Oponerse al tratamiento de sus datos personales de acuerdo con el artículo 21 del RGPD.</p><br>

            <p>Si ha otorgado su consentimiento para alguna finalidad concreta, tiene derecho a retirar el consentimiento otorgado en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada.</p><br>
            <p>Puede ejercer estos derechos enviando comunicación, motivada y acreditada, a info@thewisedreams.com</p><br>
            <p>También tiene derecho a presentar una reclamación ante la Autoridad de control competente (www.aepd.es) si considera que el tratamiento no se ajusta a la normativa vigente.</p><br>

        <br><h5>8. INFORMACIÓN LEGAL</h5><br>
            <p>Los requisitos de esta Política complementan, y no reemplazan, cualquier otro requisito existente bajo la ley de protección de datos aplicable, que será la que prevalezca en cualquier caso.</p><br>
            <p>Esta Política está sujeta a revisiones periódicas y la empresa puede modificarla en cualquier momento. Cuando esto ocurra, le avisaremos de cualquier cambio y le pediremos que vuelva a leer la versión más reciente de nuestra Política y que confirme su aceptación.</p><br>

        <br><br>
    </div>

    {{ include('components/footer.html.twig') }}

{% endblock %}
