<style>

    .imgFooter{
        
        height: 60px;
        width: 155px;
        margin-right: 20px;
    }

    #logos{
        text-align:center;
    }

    #tabla1{
        transform: translatex(3%);
    }

    .goog-te-banner-frame, goog-logo-link {
        display: none;
    }

    .goog-logo-link {
        
        display: none;
    }

    .goog-te-gadget{
        color: white;
    }

    a{
        text-decoration: none;
    }

    #campusFooter{
        position: relative;
        left: 0;
        bottom: 0;
    }

</style>

<div id="campusFooter" class="container" style="margin-top:40px;">
    <hr>

    <div class="row">
        <div class="col-sm-3">
            <h2>Sobre Nosotros</h2>
        </div>

        <div class="col-sm-6" style="text-align:center;">
            <a href="https://www.facebook.com/Travel-Tech-School-by-Amadeus-101803725582004">
                <img id="facebook" class="imgFooter" src="images/icons/facebook.png" style="height: 50px; width: 50px; border-radius: 100%;" alt="facebook logo">
            </a>

            <a href="https://www.linkedin.com/company/travel-tech-school-by-amadeus/">
                <img id="linkedin" class="imgFooter" src="images/icons/linkedin.png" style="height: 50px; width: 50px; border-radius: 100%;" alt="linkedin logo">
            </a>
        </div>

        <div class="col-sm-3" style="text-align:right;">
            <div id="google_translate_element"></div>

            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'es'}, 'google_translate_element');
                }
            </script>

            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-6">
            <img id="TTS" class="imgFooter" src="images/logos/TTS_Grande.svg" style="height: 100px; width: 190px;" alt="TTS logo">
            
            <a href="https://www.credly.com/badges/a8fc54ce-85c1-4cf8-b7a7-46f12114e987/public_url">
                <img id="amadeus_certificado" class="imgFooter" src="images/logos/amadeus-learning-partners-colaborador-certificado.png" 
                    style="height: 120px; width: 120px;" alt="amadeus certificado logo">
            </a>
        </div>

        <div class="col-sm-2" style="text-align:right;">
        </div>

        <div class="col-sm-2" style="text-align:right; list-style: none;">
            <li class="nav-item" >
                <a class="nav-link" href="#">Política de cookies</a>
            </li>
        </div>

        <div class="col-sm-2" style="text-align:right; list-style: none;">
            <li class="nav-item">
                <a class="nav-link" href="#">Política de privacidad</a>
            </li>
        </div>
    </div>

<div>

<br>